@using Evisou.Core.Config
<!DOCTYPE html>
<!--[if IE 8]> <html lang="zh-cn" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="zh-cn" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zh-cn" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>@CachedConfigContext.Current.SettingConfig.WebSiteTitle</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="@CachedConfigContext.Current.SettingConfig.WebSiteDescription" name="description" />
    <meta content="@CachedConfigContext.Current.SettingConfig.WebSiteKeywords" name="keywords" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
   <link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext' rel='stylesheet'>

    @Styles.Render("~/assets/global/plugins/font-awesome/css/css"
        , "~/assets/global/plugins/simple-line-icons/css"
        , "~/assets/global/plugins/bootstrap/css/css"
        , "~/assets/global/plugins/uniform/css/css"
        , "~/assets/global/plugins/bootstrap-switch/css/css"
        , "~/assets/global/plugins/bootstrap-modal/css/css"
        )

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    @RenderSection("PageLevelPluginsCSS", required: false)
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    @RenderSection("PageLevelCSS", required: false)
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/layouts/layout/css/themes/light.min.css" rel="stylesheet" type="text/css" id="style_color" />

    <!-- END THEME LAYOUT STYLES -->
    @*<link rel="shortcut icon" href="favicon.ico" />*@


</head>
<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-md">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        @Html.Partial("_Header")
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix">
    </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        @Html.Partial("_Menu")
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                @Html.Partial("_Modal")
                <!-- BEGIN PAGE HEADER-->
                <!-- BEGIN THEME PANEL -->
                @Html.Partial("_Theme")
                <!-- END THEME PANEL -->
                <!-- BEGIN PAGE BAR -->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="index.html">主页</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span>仪表盘</span>
                        </li>
                    </ul>
                    @*@if (ViewContext.RouteData.Values["controller"].ToString().Contains("Auth")
&& ViewContext.RouteData.Values["action"].ToString().Contains("Index"))
                    {
                        <div class="page-toolbar">
                            <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
                                <i class="icon-calendar"></i>&nbsp;
                                <span class="thin uppercase hidden-xs"></span>&nbsp;
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    }*@
                </div>
                <!-- END PAGE BAR -->
                <!-- BEGIN PAGE TITLE-->
                <h3 class="page-title">
                    <span>仪表盘</span>
                    <small>仪表盘 & 统计</small>
                </h3>
                <!-- END PAGE TITLE-->
                <!-- END PAGE HEADER-->
                <div>
                    @RenderBody()
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- BEGIN QUICK SIDEBAR -->
        @*@Html.Partial("_QuickSideBar")*@
        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    @Html.Partial("_Footer")
    <!-- END FOOTER -->
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/ifie9")
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    @Scripts.Render("~/Bundles/jquery"
    , "~/bundles/bootstrap"
    , "~/Core/Plugins")
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    @Scripts.Render("~/assets/global/plugins/layout")
    @RenderSection("PageLevelPluginScript", required: false)
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    @*<script src="~/Assets/global/scripts/app.min.js"></script>*@
    @Scripts.Render("~/assets/global/app/layout","~/Theme/Global/Script")
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    @Scripts.Render("~/Level/Script")

    @RenderSection("PageLevelScript", required: false)
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    @Scripts.Render("~/Theme/Layout/Script")
    <!-- END THEME LAYOUT SCRIPTS -->
</body>
</html>