@using Evious.Framework.Contract
@using Evious.Framework.Web.Controls
@using Evious.Account.Contract
@model User
@{
    Layout = "~/Views/Shared/_Layout.Edit.cshtml";
}
@section PageSpecificStyleSheetIncludes{
    <style type="text/css"> 
        
    </style>
}
@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        $(document).ready(function () {
            
        });
   </script>
}
@section MainContent{
    <div class="portlet-body form-horizontal form-bordered form-row-stripped">
        <div class="row">
            
                <div class="form-group">
                    <label class="control-label"><span class="required">*</span>登录名：</label>
                    <div class="controls">
                        @Model.LoginName @Html.HiddenFor(m => m.ID)
                    </div>
                </div>

               
                <div class="form-group">
                    <label class="control-label"><span class="required">*</span>原密码：</label>
                    <div class="controls">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-small" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Password)</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label"><span class="required">*</span>新密码：</label>
                    <div class="controls">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-small" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.NewPassword)</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label">邮箱：</label>
                    <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-small" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Email)</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">手机：</label>
                    <div class="controls">
                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control input-small" })
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Mobile)</span>
                    </div>
                </div>
        </div>
     </div>
}
