@using Evious.Framework.Contract
@using Evious.Framework.Web.Controls
@using Evious.Ims.Contract.Model
@using Evious.Web
@model Purchase
@{
     Layout = "~/Views/Shared/_Layout.Edit.cshtml";
 
}
@section PageSpecificStyleSheetIncludes{
    <link rel="stylesheet" type="text/css" href="@Url.StaticFile("/assets/admin/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" />
}

@section PageSpecificJavascriptIncludes{
<script type="text/javascript" src="@Url.StaticFile("/assets/admin/plugins/bootstrap-switch/js/bootstrap-switch.min.js")"></script>
    <script type="text/javascript" src="@Url.StaticFile("/content/scripts/flashupload.js")"></script>
    <script type="text/javascript" src="@Url.StaticFile("/Scripts/knockout-3.1.0.js")"></script>
    <script type="text/javascript">
        $('#uploader').FileUpload({
            'subfolder': 'Ims',
            'callback': function (msg) {
                //msg.url为图片地址
                $("#CoverPicture").val(msg.url);
                $("#preview").popover({ trigger: 'hover', html: true, placement: 'right ', content: "<img src='" + getThumbAbsoluteUrl(msg.url) + "'/>" });
            }
        });

        if ($("#CoverPicture").val()) {
            $("#preview").popover({ trigger: 'hover', html: true, placement: 'right ', content: "<img src='" + getThumbAbsoluteUrl($("#CoverPicture").val()) + "'/>" });
        }

        /*$("#Content").xheditor();

        $('#TagString').tagsInput({ 'width': 'auto', 'height': '90px', 'defaultText': '新增标签' });

        $(".hottag").click(function () {

            if (!$('#TagString').tagExist($(this).text())) {
                $('#TagString').addTag($(this).text());
            }
        });*/
        function CascadingDDLViewModel() {            
            this.productbysupplier = ko.observableArray([]);  
        }
        var objVM = new CascadingDDLViewModel();
        ko.applyBindings(objVM);
        function FetchProduct() {
            
            var supplier = $("#SupplierID").val();
            var purchaseid = $("#PurchaseID").val();
            if (supplier != null && purchaseid == 0) {
                $.getJSON("/Purchase/GetProductBySupplier/?supplier=" + supplier, null, function (data) {
                    objVM.productbysupplier(data);
                });
            }

            if (supplier != null && purchaseid != 0) {
                $.getJSON("/Ims/Purchase/GetProductBySupplier/?supplier=" + supplier + "&purchaseid=" + purchaseid, null, function (data) {
                    objVM.productbysupplier(data);
                   // alert(objVM.productbysupplier(data))
                });
            }
        }
        $(function () {
            FetchProduct();
        })
    </script>
}

@section MainContent{
    <div class="tabbable tabbable-custom">
        <ul class="nav nav-tabs tabs-left">
            <li class="active"><a href="#tab1" data-toggle="tab">基本信息</a></li>
            <li><a href="#tab2" data-toggle="tab">采购的产品</a></li>
        </ul>
        <div class="tab-content" data-ng-app="myModule">
            <div class="tab-pane active" id="tab1">

                <div class="portlet-body form-horizontal form-bordered form-row-stripped">
                    <div class="row">
                        @Html.HiddenFor(m => m.ID, new { @ID = "PurchaseID" })
                        <div class="form-group">
                            <label class="control-label"><span class="required">*</span>@Html.DisplayNameFor(m => m.PurchaseTransactionID)：</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.PurchaseTransactionID, new { @class = "form-control input-large" })
                                <span class="help-inline">@Html.ValidationMessageFor(m => m.PurchaseTransactionID)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label"><span class="required">*</span>@Html.DisplayNameFor(m => m.PurchaseDate)：</label>
                            <div class="controls">
                                @Html.TextBoxFor(m => m.PurchaseDate, new { @class = "form-control input-large" })
                                <span class="help-inline">@Html.ValidationMessageFor(m => m.PurchaseDate)</span>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <div class="tab-pane" id="tab2">
                <div class="portlet-body form-horizontal form-bordered form-row-stripped">
                    <div class="row">

                        <div class="form-group">
                            <label class="control-label">供应商：</label>
                            <div class="controls">
                                @Html.DropDownList("SupplierID", ViewBag.Supplier as SelectList, "选择供应商", new { onchange = "FetchProduct()" })
                                <input class="make-switch" data-on="success" data-off="warning" name="SelectedProduct2" type="checkbox" checked />
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">产品：</label>
                            <div class="controls">                               
                                <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" data-bind="foreach:{data:productbysupplier,as:'product'},fadeVisible: assignedproduct().length > 0">
                                    <div class="thumbnail">
                                        <div class=" center">
                                            <div class="center">
                                                <b>采购</b>
                                                <input class="make-switch" data-on="success" data-off="warning" name="selectedProduct" type="checkbox" data-bind="value: product.ID,checked: product.Assigned" />
                                                <span class="lbl"></span>
                                            </div>
                                            <div class="hr"></div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-4">
                                                    <a data-bind="attr: {href: product.ImgURL}" title="Photo Title" data-rel="colorbox">
                                                        <img alt="150x150" data-bind="attr: {src: product.CoverPicture, alt: product.Name}" width="150" height="150" />
                                                    </a>
                                                </div>

                                                <div class="vspace-xs"></div>

                                                <div class="col-xs-12 col-sm-8">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-sku">SKU</label>

                                                        <div class="col-sm-8">
                                                            <input type="text" class="col-xs-12 col-sm-10"
                                                                   placeholder="产品SKU" data-bind="value: product.Sku" readonly="readonly">
                                                        </div>
                                                    </div>

                                                    <div class="space-4"></div>

                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-contact">采购单价</label>

                                                        <div class="col-sm-8">
                                                            <input type="text" class="col-xs-12 col-sm-10" name="selectedPrice"
                                                                   placeholder="填写单价" data-bind="value: product.UnitPrice">
                                                        </div>
                                                    </div>
                                                    <div class="space-4"></div>

                                                    <div class="form-group">
                                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-contactphone">采购数量</label>

                                                        <div class="col-sm-8">
                                                            <span class="input-icon input-icon-right">
                                                                <input type="text" class="col-xs-12 col-sm-10" name="selectedQuantity"
                                                                       placeholder="填写数量" data-bind="value: product.Quantity">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="space-4"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>

                        
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" data-bind="foreach:{data:productbysupplier,as:'product'},fadeVisible: assignedproduct().length > 0">
                        <div class="thumbnail">

                            <img data-bind="attr: {src: product.CoverPicture, alt: product.Name}" alt="" style="width: 200px; height:auto; border: 1px solid gray">
                            <div class="caption">
                                <h4>
                                    <input class="make-switch" data-on="success" data-off="warning" name="selectedProduct" type="checkbox" data-bind="value: product.ID,checked: product.Assigned" />

                                </h4>
                               <!-- <div class="col-sm-8">

                                </div>
                                <p>
                                    <input type="text" class="col-xs-12 col-sm-10" name="selectedPrice"
                                           placeholder="填写单价" data-bind="value: product.UnitPrice">
                                </p>
                                <p>
                                    <input type="text" class="col-xs-12 col-sm-10"
                                           placeholder="产品SKU" data-bind="value: product.Sku" readonly="readonly">
                                </p>
                                <p>
                                    <input type="text" class="col-xs-12 col-sm-10" name="selectedQuantity"
                                           placeholder="填写数量" data-bind="value: product.Quantity">
                                </p>
                                -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

}

