@using Evisou.Web
@using Evisou.Framework.Contract
@using Evisou.Framework.Web.Controls
@using Evisou.Framework.Utility
@using Evisou.Crm.Contract
@model VisitRecord

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    @{
        if(Model.ID == 0)
        {
        <h4 class="modal-title" id="ModalLabel">添加新来电记录</h4>
        }
        else
        {
        <h4 class="modal-title" id="ModalLabel">编辑新来电记录</h4>
        }
    }    
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "mainForm" }))
{
    @Html.ValidationSummary(true)
    <div class="modal-body">
        <div class="form-horizontal">            
            <div class="form-group">
                <label class="control-label col-md-2"><span class="required">*</span>我的客户：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.DropDownList("CustomerId") 
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.CustomerId)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">类别：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                    </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.DropDownList("VisitWay") 
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.VisitWay)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">区域：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.DropDownList("CityId")
                            <span id="areas">@Html.Partial("AreaSelect")</span>
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.CityId)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">项目：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.DropDownList("ProjectId")
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.ProjectId)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">跟进级别：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.DropDownList("FollowLevel") 
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.FollowLevel)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">跟进阶段：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.DropDownList("FollowStep") 
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.FollowStep)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">意向产品：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.DropDownList("ProductType") 
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.ProductType)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">可能性：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.TextBox("Probability", null, new { @class = "integer" }) %
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Probability)</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">购房动机：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.RadioBoxList("Motivation")
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Motivation)</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">面积需求：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.RadioBoxList("AreaDemand") 
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.AreaDemand)</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">价格反应：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.RadioBoxList("PriceResponse") 
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.PriceResponse)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">认知途径：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.CheckBoxList("CognitiveChannel")
                        </div>
                    </div>
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">关注重点：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.RadioBoxList("Focus") 
                        </div>
                    </div>
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">沟通细节：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.TextArea("Detail", new { style = "width:80%" })
                        </div>
                    </div>
                    <span class="help-inline"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" id="submitbutton" class="btn blue btn-sm default"><i class="fa fa-check"></i> 提交</button>
        <button type="button" class="btn btn-sm default" id="cancel" data-dismiss="modal">撤销</button>
    </div>

}
@*</form>*@
<style type="text/css">
    .controls label {
        display: inline;
    }

    .custom-combobox input {
        height: 28px;
        margin: 1px;
    }

    .custom-combobox a {
        height: 30px;
    }
</style>
<script>
    var FormComponents = function () {


        var handleCombox = function () {

            $("#CityId").change(function () {
                $("#areas").load("@Url.Action("GetArea")?cityId=" + this.value);
            });

            $("#CustomerId").combobox();

        };

        var handleCheckForm = function () {
            var form = $("#mainForm");
            var error = $('.alert-danger', form);
            var success = $('.alert-success', form);

            form.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    Name: {
                        minlength: 2,
                        required: true,
                    },
                    BirthDate: {
                        minlength: 2,
                        required: true,
                    },
                    Email: {
                        minlength: 2,
                        required: true,
                    },
                    Tel: {
                        minlength: 11,
                        maxlength:11,
                        required: true,
                    },
                    Position: {
                        minlength: 1,
                        required: true,
                    }

                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success.hide();
                    error.show();
                    App.scrollTo(error, -200);

                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    var icon = $(element).parent('.input-icon').children('i');
                    icon.removeClass('fa-check').addClass("fa-warning");
                    icon.attr("data-original-title", error.text()).tooltip({ 'container': 'body' });
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight

                },

                success: function (label, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    icon.removeClass("fa-warning").addClass("fa-check");
                },

                submitHandler: function (form) {
                    success.show();
                    error.hide();
                    //form[0].submit(alert('dasdas')); // submit the form
                }
            });


            $("#submitbutton").click(function (e) {
                if (!form.valid()) {
                    e.preventDefault();
                }

            });
        };

        var handleDatePickers = function () {

            if (jQuery().datepicker) {
                $('.date-picker').datepicker({
                    language: 'zh-CN',
                    rtl: App.isRTL(),
                    orientation: "left",
                    autoclose: true,
                    dateFormat: 'dd日mm月yy年'
                });
                //$('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
            }

            /* Workaround to restrict daterange past date select: http://stackoverflow.com/questions/11933173/how-to-restrict-the-selectable-date-ranges-in-bootstrap-datepicker */
        }
        return {
            init: function () { 
                handleCheckForm();
                handleDatePickers();
                handleCombox();
            }
        }


    }();

    $(function () {
        FormComponents.init();
    });
</script>




