@using Evisou.Web
@using Evisou.Framework.Contract
@using Evisou.Framework.Web.Controls
@using Evisou.Ims.Contract
@model Evisou.Ims.Contract.Model.Product
<style>
     .modal {
left: 50%;
bottom: auto;
right: auto;
padding: 0;
width: 940px;
margin-left: -470px;
background-color: #fff;
border: 1px solid rgba(0,0,0,.2);
box-shadow: 0 3px 9px rgba(0,0,0,.5);
background-clip: padding-box;
}
</style>
<div class="modal-header">    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    @{
        if(Model.ID == 0)
        {
        <h4 class="modal-title" id="ModalLabel">添加新项目</h4>
        }
        else
        {
        <h4 class="modal-title" id="ModalLabel">编辑产品:</h4>
        }
    }    
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "mainForm" }))
{
    <div class="modal-body">       
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            表单有错误,请检查
        </div>
        <div class="alert alert-success display-hide">
            <button class="close" data-close="alert"></button>
            验证成功
        </div>
        <div class="form-horizontal">            
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_general" data-toggle="tab">
                            常规
                        </a>
                    </li>
                    @*<li>
                        <a href="#tab_meta" data-toggle="tab">
                            元语言
                        </a>
                    </li>*@
                    <li>
                        <a href="#tab_images" data-toggle="tab">
                            图片
                        </a>
                    </li>
                    @*<li>
                        <a href="#tab_reviews" data-toggle="tab">
                            评论 <span class="badge badge-success">
                                3
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#tab_history" data-toggle="tab">
                            历史
                        </a>
                    </li>*@
                </ul>
                <div class="tab-content no-space">
                    <div class="tab-pane active" id="tab_general">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-2">图片：</label>
                                <div class="col-md-10">
                                    <div class="fileinput fileinput-new" >
                                        
                                        <div class="fileinput-new files" style="width: 200px; height: 170px;" id="thumbnail">
                                            @if (Model.ID == 0)
                                            {
                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" style="border:solid 1px" alt="" />
                                            }
                                            else
                                            {
                                                <img src="@Url.StaticFile()@Model.CoverPicture" alt="@Model.Sku||@Model.Name" title="@Model.Sku||@Model.Name" style="border: solid 1px;width:200px;height:150px" />
                                            }
                                        </div> 
                                       <br/>
                                        <div id="progress" class="progress" style="width:180px">
                                            <div class="progress-bar progress-bar-success"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    产品名称: <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-cubes"></i>
                                        </span>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control text-box single-line" })
                                        </div>
                                    </div>
                                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Name)</span>                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    SKU: <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-cubes"></i>
                                        </span>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.TextBoxFor(m => m.Sku, new { @class = "form-control text-box single-line" })
                                        </div>
                                    </div>
                                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Sku)</span>
                                </div>
                                <label class="col-md-2 control-label">
                                    状态:
                                </label>
                                <div class="col-md-4">
                                    @Html.CheckBoxFor(m => m.Status, new { @id = "active", @class = "make-switch", @data_on_text = "公开", @data_off_text = "不公开" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">封面：<span class="required">*</span></label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-cubes"></i>
                                        </span>
                                        <div class="input-icon right ">
                                            <i class="fa"></i>
                                            @Html.TextBoxFor(m => m.CoverPicture, new { @class = "form-control text-box single-line", @id = "coverimage" })
                                        </div>
                                    </div>
                                    <span class="help-inline">@Html.ValidationMessageFor(m => m.CoverPicture)</span>

                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-success fileinput-button btn-small" title="上传">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <input id="productcoverupload" type="file" name="files[]">
                                    </a>
                                    <a id="deleteuploaded" class="btn btn-danger delete btn-small" title="删除">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                    <span id="uploadmsg"></span>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    详细描述: 
                                </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-cubes"></i>
                                        </span>
                                        <div class="input-icon right">
                                            <i class="fa"></i>                                            
                                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", })                                            
                                        </div>
                                    </div>
                                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Description)</span>   
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    短描述: 
                                </label>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-cubes"></i>
                                        </span>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.TextAreaFor(m => m.ShortDescription, new { @class = "form-control", })                                            
                                        </div>
                                    </div>
                                    <span class="help-inline">@Html.ValidationMessageFor(m => m.ShortDescription)</span>   
                                    
                                    <span class="help-block">
                                        在产品列表显示
                                    </span>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    可用日期: <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-group input-medium date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                        @Html.TextBoxFor(m => m.AvailableFrom, new { @class = "form-control",@placeholder="开始" })
                                        <span class="input-group-addon">
                                            到
                                        </span>
                                        @Html.TextBoxFor(m => m.AvailableTo, new { @class = "form-control", @placeholder = "结束" })                                        
                                    </div>
                                    
                                    <span class="help-block">
                                        可用日期范围.
                                    </span>
                                </div>
                                <label class="col-md-2 control-label">
                                    本机销售价格:
                                </label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-cny"></i>
                                        </span>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.TextBoxFor(m => m.SellingPrice, new { @class = "form-control text-box single-line input-xsmall" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    毛尺寸（cm）: <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-10">
                                    <div class="input-group input-large input-daterange">
                                        <span class="input-group-addon">
                                            长
                                        </span>
                                        @Html.TextBoxFor(m => m.PackingSize.Length, new { @class="form-control",@name="packinglength" })                                       
                                        <span class="input-group-addon">
                                            宽
                                        </span>
                                        @Html.TextBoxFor(m => m.PackingSize.Width, new { @class = "form-control", @name = "packingwidth" })                                     
                                        <span class="input-group-addon">
                                            高
                                        </span>
                                        @Html.TextBoxFor(m => m.PackingSize.Height, new { @class = "form-control", @name = "packingheight" })                                        
                                    </div>
                                    <span class="help-block">
                                        可用范围.
                                    </span>
                                </div>
                               
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    净尺寸（cm）: 
                                </label>
                                <div class="col-md-10">
                                    <div class="input-group input-large input-daterange">
                                        <span class="input-group-addon">
                                            长
                                        </span>
                                        @Html.TextBoxFor(m => m.NetSize.Length, new { @class = "form-control", @name = "netlength" })
                                        
                                        <span class="input-group-addon">
                                            宽
                                        </span>
                                        @Html.TextBoxFor(m => m.NetSize.Width, new { @class = "form-control", @name = "netwidth" })
                                        <span class="input-group-addon">
                                            高
                                        </span>
                                        @Html.TextBoxFor(m => m.NetSize.Height, new { @class = "form-control", @name = "netheight" })
                                      
                                    </div>
                                    <span class="help-block">
                                        可用范围.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    重量（g）: <span class="required">
                                        *
                                    </span>
                                </label>
                                <div class="col-md-10">
                                    <div class="input-group input-large input-daterange">
                                        <span class="input-group-addon">
                                            毛重量
                                        </span>
                                        @Html.TextBoxFor(m => m.PackWeight, new { @class = "spinner-input form-control", @name = "packingweight", maxlength = "3" })
                                        <span class="input-group-addon">
                                            净重量
                                        </span>
                                        @Html.TextBoxFor(m => m.Weight, new { @class = "spinner-input form-control", @name = "netweight", maxlength = "3" })

                                    </div>
                                    <span class="help-block">
                                        可用范围.
                                    </span>
                                </div>
                            </div>                                                        
                           
                        </div>
                    </div>
                    @*<div class="tab-pane" id="tab_meta">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Meta Title:</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.MetaTitle, new { @class = "form-control maxlength-handler" ,@maxlength="100", @placeholder="" })                                   
                                    <span class="help-block">
                                        最多 100 个字
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Meta Keywords:</label>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(m => m.MetaKeywords, new { @class = "form-control maxlength-handler", @maxlength = "1000", @rows = "8" })
                                    <span class="help-block">
                                        最多 1000 个字
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Meta Description:</label>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(m => m.MetaDescription, new { @class = "form-control maxlength-handler", @maxlength = "255", @rows = "4" })                                   
                                    <span class="help-block">
                                        最多 255 个字
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="tab-pane" id="tab_images">
                        <div class="form-body">
                            <div class="form-group">                               
                                <div id="fileupload">
                                    <div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10 col-md-12">
                                        <div class="row fileupload-buttonbar">
                                            <div class="col-lg-12">
                                                <!-- The fileinput-button span is used to style the file input field as button -->
                                                <span class="btn green fileinput-button">
                                                    <i class="fa fa-plus"></i>
                                                    <span>
                                                        添加...
                                                    </span>
                                                    <input type="file" name="files[]" multiple="">
                                                </span>
                                                <button type="submit" class="btn blue start">
                                                    <i class="fa fa-upload"></i>
                                                    <span>
                                                        上传
                                                    </span>
                                                </button>
                                                <button type="reset" class="btn warning cancel">
                                                    <i class="fa fa-ban-circle"></i>
                                                    <span>
                                                        取消
                                                    </span>
                                                </button>
                                                <button type="button" class="btn red delete">
                                                    <i class="fa fa-trash"></i>
                                                    <span>
                                                        删除
                                                    </span>
                                                </button>
                                                <input type="checkbox" class="toggle">
                                                <!-- The global file processing state -->
                                                <span class="fileupload-process">
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row col-lg-12">
                                        <div class="table-container">
                                            <div class="row fileupload-buttonbar">
                                                <!-- The global progress information -->
                                                <div class="col-lg-12 fileupload-progress fade">
                                                    <!-- The global progress bar -->
                                                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                                        <div class="progress-bar progress-bar-success" style="width:0%;">
                                                        </div>
                                                    </div>
                                                    <!-- The extended global progress information -->
                                                    <div class="progress-extended">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- The table listing the files available for upload/download -->

                                            <table role="presentation" class="table table-bordered table-hover">
                                                <thead id="head">
                                                    <tr role="row" class="heading">
                                                        <th width="8%">
                                                            图片
                                                        </th>
                                                        <th width="25%">
                                                            Label&URL
                                                        </th>
                                                        <th width="8%">
                                                            排序
                                                        </th>

                                                        <th width="10%">
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="files"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                     </div>
                    @*<div class="tab-pane" id="tab_reviews">
                        <div class="table-container">
                            <table class="table table-striped table-bordered table-hover" id="datatable_reviews">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="5%">
                                            评论&nbsp;#
                                        </th>
                                        <th width="10%">
                                            评论日期
                                        </th>
                                        <th width="10%">
                                            买家
                                        </th>
                                        <th width="20%">
                                            评论内容
                                        </th>
                                        <th width="10%">
                                            状态
                                        </th>
                                        <th width="10%">
                                            动作
                                        </th>
                                    </tr>
                                    <tr role="row" class="filter">
                                        <td>
                                            <input type="text" class="form-control form-filter input-sm" name="product_review_no">
                                        </td>
                                        <td>
                                            <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                                                <input type="text" class="form-control form-filter input-sm" readonly name="product_review_date_from" placeholder="From">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                            <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                                <input type="text" class="form-control form-filter input-sm" readonly name="product_review_date_to" placeholder="To">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter input-sm" name="product_review_customer">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter input-sm" name="product_review_content">
                                        </td>
                                        <td>
                                            <select name="product_review_status" class="form-control form-filter input-sm">
                                                <option value="">Select...</option>
                                                <option value="pending">Pending</option>
                                                <option value="approved">Approved</option>
                                                <option value="rejected">Rejected</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="margin-bottom-5">
                                                <button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                                            </div>
                                            <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_history">
                        <div class="table-container">
                            <table class="table table-striped table-bordered table-hover" id="datatable_history">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="25%">
                                            日期
                                        </th>
                                        <th width="55%">
                                            描述
                                        </th>
                                        <th width="10%">
                                            Notification
                                        </th>
                                        <th width="10%">
                                            动作
                                        </th>
                                    </tr>
                                    <tr role="row" class="filter">
                                        <td>
                                            <div class="input-group date datetime-picker margin-bottom-5" data-date-format="dd/mm/yyyy hh:ii">
                                                <input type="text" class="form-control form-filter input-sm" readonly name="product_history_date_from" placeholder="从">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-sm default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                            <div class="input-group date datetime-picker" data-date-format="dd/mm/yyyy hh:ii">
                                                <input type="text" class="form-control form-filter input-sm" readonly name="product_history_date_to" placeholder="到">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-sm default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control form-filter input-sm" name="product_history_desc" placeholder="内容" />
                                        </td>
                                        <td>
                                            <select name="product_history_notification" class="form-control form-filter input-sm">
                                                <option value="">Select...</option>
                                                <option value="pending">Pending</option>
                                                <option value="notified">Notified</option>
                                                <option value="failed">Failed</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="margin-bottom-5">
                                                <button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i> 搜索</button>
                                            </div>
                                            <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> 重置</button>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" id="submitbutton" class="btn blue btn-sm default"><i class="fa fa-check"></i> 提交</button>
        <button type="button" class="btn btn-sm default" id="cancel" data-dismiss="modal">撤销</button>
    </div>
}
                                              
<style>
    .modal {
        z-index: 100 !important;
        outline: none;
        overflow-y: auto !important;
        /*//Fix content shifting to the right on modal open due to scrollbar closed*/
    }
</style>


<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger label label-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn blue start" disabled>
                <i class="fa fa-upload"></i>
                <span>开始</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn red cancel">
                <i class="fa fa-ban"></i>
                <span>取消</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <input type="hidden" value="{%=file.pictureid%}" name="pictureid" />
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                <a href="{%=file.url%}" target="_blank" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">               
                <input type="text" class="form-control" name="Label" placeholder="Label" value="{%=file.label%}">
                <input type="text" class="form-control" name="PictureURL" value="{%=file.url%}" readonly>   
                             
                {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" class="fancybox-button" data-rel="fancybox-button" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                <span>{%=file.name%}</span>
                {% } %}
                
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">出错</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">@*{%=o.formatFileSize(file.size)%}*@
                <input type="number" class="form-control" name="SortOrder" value="{%=file.sortorder%}">
            </span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
            <button class="btn red delete btn-sm btndelete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                <i class="fa fa-trash-o"></i>
                <span>删除</span>
            </button>
            <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
            <button class="btn yellow cancel btn-sm">
                <i class="fa fa-ban"></i>
                <span>取消</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
<script>
    jQuery(document).ready(function () {
        Product.form(@Model.ID);
    });
</script>





