
@using Evisou.Ims.Contract.Model
@model Association

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    @{
        if(Model.ID == 0)
        {
        <h4 class="modal-title" id="ModalLabel">添加配对</h4>
        }
        else
        {
        <h4 class="modal-title" id="ModalLabel">编辑配对</h4>
        }
    }    
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "mainForm",  }))
{
    @Html.ValidationSummary(true)
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3"><span class="required">*</span>SKU：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.DropDownList("ProductID", null, "选择产品", new { @class = "form-control text-box single-line input-medium" })
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Product.Sku)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Paypal账号：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa  fa-list-ol"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.DropDownList("PaypalApiID", null, "选择Paypal账号", new { @class = "form-control text-box single-line input-medium" })

                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.PaypalApi.PPAccount)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">标题：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </span>
                        <div class="input-icon left">
                            <i class="fa"></i>
                            @Html.DropDownList("ItemNumber", null, "选择标题", new { @class = "form-control text-box single-line input-medium select2", @name = "ItemNumber" })
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.ItemTitle)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">编号：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.TextBoxFor(m => m.ItemTitle, new { @class = "form-control text-box single-line input-medium" })
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.ItemTitle)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">销售地点：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </span>
                        <div class="input-icon left">
                            <i class="fa"></i>
                            @Html.DropDownList("SellingPlace", null, String.Empty, new { @class = "select2 form-control text-box single-line input-medium country" })
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.SellingPlace)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">仓库地点：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </span>
                        <div class="input-icon left">
                            <i class="fa"></i>
                            @Html.DropDownList("StorePlace", null, String.Empty, new { @class = "select2 form-control text-box single-line input-medium country" })
                        </div>
                    </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.SellingPlace)</span>
                </div>
            </div>
            
        </div>
        
    </div>

    <div class="modal-footer">
        <button type="submit" id="submitbutton" class="btn blue btn-sm default"><i class="fa fa-check"></i> 提交</button>
        <button type="button" class="btn btn-sm default" id="cancel" data-dismiss="modal">撤销</button>
    </div>

}


<script>
    jQuery(document).ready(function () {
        Association.form();
    });
</script>




