@using Evisou.Web
@using Evisou.Framework.Contract
@using Evisou.Framework.Web.Controls
@using Evisou.Cms.Contract
@model Article
<style>
    .hottag {
        margin: 2px;
        padding: 5px;
        cursor: pointer;
    }
</style>
<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    @{
        if(Model.ID == 0)
        {
        <h4 class="modal-title" id="ModalLabel">添加新文章</h4>
        }
        else
        {
        <h4 class="modal-title" id="ModalLabel">编辑文章内容</h4>
        }
    }    
</div>




@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "mainForm" }))
{
    @Html.ValidationSummary(true)
    <div class="modal-body" >
        <div class="form-horizontal">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_5_1" data-toggle="tab">
                            基本信息
                        </a>
                    </li>
                    <li>
                        <a href="#tab_5_2" data-toggle="tab">
                            详细内容
                        </a>
                    </li>
                    <li>
                        <a href="#tab_5_3" data-toggle="tab">
                            标签设置
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_5_1">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-2"><span class="required">*</span>图片：</label>
                                <div class="col-md-9">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 170px;" id="thumbnail">
                                            @if (Model.ID == 0)
                                            {
                                                <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                            }
                                            else
                                            {
                                                <img src="@Url.StaticFile()@Model.CoverPicture" alt="" />
                                            }


                                        </div>
                                        <div id="progress" class="progress">
                                            <div class="progress-bar progress-bar-success"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2"><span class="required">*</span>标题：</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <div class="input-icon right">
                                            <i class="fa"></i>
                                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control text-box single-line input-medium" })
                                        </div>
                                    </div>
                                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Title)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2"><span class="required">*</span>封面：</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-icon right ">
                                            <i class="fa"></i>
                                            @Html.TextBoxFor(m => m.CoverPicture, new { @class = "form-control text-box single-line input-medium", @id = "coverimage" })
                                        </div>
                                    </div>
                                    <span class="help-inline">@Html.ValidationMessageFor(m => m.CoverPicture)</span>

                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-success fileinput-button btn-small" title="上传">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <input id="fileupload" type="file" name="files[]">
                                    </a>
                                    <a id="deleteuploaded" class="btn btn-danger delete btn-small" title="删除">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                    <span id="uploadmsg"></span>
                                </div>
                                <div class="col-md-4">


                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">频道：</label>
                                <div class="col-md-4">
                                    @Html.DropDownList("ChannelId", null, null, new { @class = "form-control input-sm", @name = "ChannelId" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">激活：</label>
                                <div class="col-md-2">
                                    @Html.CheckBoxFor(m => m.IsActive, new { @id = "active", @class = "switch-chekcbox", @data_on_text = "是", @data_off_text = "否" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_5_2">
                        @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @id = "Content" })
                        <textarea class="ckeditor form-control" name="editor1" rows="6"></textarea>
                        @*<div id="summernote"></div>*@

                    </div>
                    <div class="tab-pane" id="tab_5_3">
                        <div class="form-group">
                            <label class="control-label col-md-2">标签：</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.TagString, new { @class = "m-wra tags TagString",  })
                                <span class="help-inline">
                                    热门标签（点击添加）：
                                    @foreach (var tag in (IEnumerable<Tag>)ViewBag.Tags)
                                    {
                                        <span class="badge badge-inverse hottag">@tag.Name</span>
                                    }
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="modal-footer">
        <button type="submit" id="submitbutton" class="btn blue btn-sm default"><i class="fa fa-check"></i> 提交</button>
        <button type="button" class="btn btn-sm default" id="cancel" data-dismiss="modal">撤销</button>
    </div>

}

<script>
    jQuery(document).ready(function () {
        Article.form();
    });
</script>



<style>
    .modal {
        z-index: 1 !important;
        outline: none;
        overflow-y: auto !important;
        /*//Fix content shifting to the right on modal open due to scrollbar closed*/
    }
</style>

