@using Evisou.Web
@using Evisou.Framework.Contract
@using Evisou.Framework.Web.Controls
@using Evisou.Account.Contract
@model User

<div class="modal-header">
    
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    @{
        if(Model.ID == 0)
        {
        <h4 class="modal-title" id="ModalLabel">添加新用户</h4>
        }
        else
        {
        <h4 class="modal-title" id="ModalLabel">编辑用户资料</h4>
        }
    }    
</div>



@*<form method="post" id="form_sample_2" action="@{ if (Model.ID == 0) { @Url.Action("Create")} else{@Url.Action("Edit/"+Model.ID) }}">*@
@*<form method="post" id="form_sample_2">*@
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "mainForm" }))
{
    @Html.ValidationSummary(true)
    <div class="modal-body">
        <div class="form-horizontal">
            @*<div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                You have some form errors. Please check below.
            </div>
            <div class="alert alert-success display-hide">
                <button class="close" data-close="alert"></button>
                Your form validation is successful!
            </div>*@
            <div class="form-group">
                <label class="control-label col-md-2"><span class="required">*</span>登录名：</label>
                <div class="col-md-4">
                    @if (Model.ID == 0)
                    {
                           <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control text-box single-line input-medium" })
                            </div>
                          </div>
                        <span class="help-inline">@Html.ValidationMessageFor(m => m.LoginName)</span>
                    }
                    else
                    {
                        @Model.LoginName
                    }
                </div>
            </div>
            @if (Model.ID == 0)
            {
                <div class="form-group">
                    <label class="control-label col-md-2"><span class="required">*</span>密码：</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-dot-circle-o"></i>
                            </span>
                            <div class="input-icon right">
                                <i class="fa"></i>
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control text-box single-line input-medium", @readonly = "" })
                            </div>
                          </div>
                        <span class="help-inline">默认密码6个1</span>
                    </div>
                </div>
            }
            <div class="form-group">
                <label class="control-label col-md-2">邮箱：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-box single-line input-medium" })
                        </div>
                     </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Email)</span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">手机：</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control text-box single-line input-medium" })
                        </div>
                     </div>
                    <span class="help-inline">@Html.ValidationMessageFor(m => m.Mobile)</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">激活：</label>
                <div class="col-md-4">
                    @Html.CheckBoxFor(m => m.IsActive, new { @id = "active", @class = "switch-chekcbox", @data_on_text = "是", @data_off_text = "否" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">角色：</label>
                <div class="col-md-10">
                    @Html.CheckBoxList("RoleIds")
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" id="submitbutton" class="btn blue btn-sm default"><i class="fa fa-check"></i> 提交</button>
        <button type="button" class="btn btn-sm default" id="cancel" data-dismiss="modal">撤销</button>
    </div>

}
@*</form>*@

<script>
    jQuery(document).ready(function () {
        Users.form();
    });
</script>




