@using Evisou.Framework.Contract
@using Evisou.Framework.Web.Controls
@using Evisou.Framework.Utility;
@using Evisou.Ims.Contract.Model
@using Evisou.Web
@model Evisou.Ims.Contract.Model.PayPalTransaction
<style>
    .form .form-section {
        margin: 30px 0px 25px 0px;
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
    }
    .popover-content {
        padding: 9px 14px;
        padding-left: 30px;
        padding-right: 30px;       
    }
    .modal {
        width: 940px;
        margin-left: -470px;
    }

    
</style>
<div id="form_wizard_1">
    <form action="#" class="form-horizontal" id="submit_form" method="POST">

        <div class="form-wizard">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ModalLabel">发货</h4> 
            </div>            
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="alert alert-danger display-none">
                        <button class="close" data-dismiss="alert"></button>
                        表单有错误,请检查
                    </div>
                    <div class="alert alert-success display-none">
                        <button class="close" data-dismiss="alert"></button>
                        Your form validation is successful!
                    </div> 
                    <ul class="nav nav-pills nav-justified steps">
                        <li>
                            <a href="#tab1" data-toggle="tab" class="step">
                                <span class="number">
                                    1
                                </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> 准备下单
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab" class="step">
                                <span class="number">
                                    2
                                </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> 选择快递
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab3" data-toggle="tab" class="step active">
                                <span class="number">
                                    3
                                </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> 填写快递资料
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#tab4" data-toggle="tab" class="step">
                                <span class="number">
                                    4
                                </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> 确认订单
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div id="bar" class="progress progress-striped" role="progressbar">
                        <div class="progress-bar progress-bar-success">
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        @*<h3 class="block">订单详细</h3>*@
                        <div class="form-body">                            
                            <h3 class="form-section" >订单详细</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">交易ID:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Html.DisplayFor(m => m.TransactionId)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">交易时间:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.PaymentDate.ToCnDataString()                                               
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">AMT:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                              @Model.CurrencyCode  @Model.GrossAmount
                                                @*@Html.DisplayFor(m => m.PaymentInfo.GrossAmount)*@
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Fee AMT:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                               @Model.CurrencyCode  @Model.FeeAmount
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <h3 class="form-section" >客户信息</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">收货人:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.PayerAddressName  
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">电邮:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.Receiver
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">州/省:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                              @Model.PayerStateOrProvince
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">国家:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                               @Model.PayerCountryName
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <h3 class="form-section" >送货地址</h3>
                            <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th width="20%">
                                                                收件人
                                                            </th>
                                                            <th width="20%">
                                                                街道1
                                                            </th>
                                                            <th width="20%">
                                                                街道2
                                                            </th>
                                                            <th width="10%">
                                                                城市
                                                            </th>
                                                            <th width="10%">
                                                                省/州
                                                            </th>
                                                            <th width="10%">
                                                                邮编
                                                            </th>
                                                            <th width="10%">
                                                                国家
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>                                                        
                                                        <tr>
                                                            <td>
                                                              @Model.PayerAddressName
                                                            </td>
                                                            <td>
                                                                @Model.PayerAddressStreet1
                                                            </td>
                                                            <td>
                                                                @Model.PayerAddressStreet2
                                                            </td>
                                                            <td>@Model.PayerCityName</td>
                                                            <td>@Model.PayerStateOrProvince</td>
                                                            <td>@Model.PayerPostalCode</td>
                                                            <td>@Model.PayerCountryName </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                <!--/span-->                                
                            </div>
                            <h3 class="form-section" >商品
                            </h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            图片
                                                        </th>
                                                        <th>
                                                            SKU
                                                        </th>
                                                        <th>
                                                            数量
                                                        </th>
                                                        <th>
                                                            尺寸
                                                        </th>
                                                        <th>
                                                            重量
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="PaymentItem">
                                                    @{Html.RenderAction("PaymentItemList", "TransactionDetail", new { id = Model.ID }); }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        @*<h3 class="block">Provide your profile details</h3>*@
                        <div class="form-body" id="expressctrl">

                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    物流代理：
                                    <span class="required">
                                    </span>
                                </label>
                                <div class="col-md-8">
                                    @Html.DropDownList("agent", null, "", new { @class = "form-control select2me text-box single-line spinner input-medium", @id = "agent" })
                                </div>
                            </div>
                            <div class="form-group" id="typegroup">
                                <label class="control-label col-md-4">
                                    发货类型：
                                    <span class="required">
                                    </span>
                                </label>
                                <div class="col-md-8">
                                    @*@Html.DropDownList("type", null, "", new { @class = "form-control select2me text-box single-line input-medium ", @id = "type",})*@
                                    @Html.DropDownList("type", null, "", new { @class = "form-control select2me text-box single-line input-medium", @id = "type", })
                                </div>
                            </div>
                            <div class="form-group" id="warehousegroup">
                                <label class="control-label col-md-4">
                                    选择仓库：
                                    <span class="required">
                                    </span>
                                </label>
                                <div class="col-md-8">
                                    @Html.DropDownList("warehouse", null, "", new { @class = "form-control select2me text-box single-line input-medium", @id = "warehouse", })
                                </div>
                            </div>
                            <div class="form-group" id="expressgroup">
                                <label class="control-label col-md-4">
                                    快递方式：
                                    <span class="required">
                                    </span>
                                </label>
                                <div class="col-md-8">
                                    <select class="form-control select2me text-box single-line input-medium" id="express" name="express">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <div class="form-body">
                            <h3 class="form-section">收件人信息</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">收货人:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.PayerAddressName
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">街道:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.PayerAddressStreet1
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">街道2:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                               @Model.PayerAddressStreet2
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">城市:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.PayerCityName
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">州/省:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                               @Model.PayerStateOrProvince
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">邮编:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                               @Model.PayerPostalCode
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">国家名称:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.PayerCountry
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">电邮:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.Receiver
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>

                            <div id="expressdetail" >
                                <h3 class="form-section">附加</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">申报名称:</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="goodsDescription" id="goodsDescription" placeholder="申报名称">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">申报数量:</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="goodsQuantity" id="goodsQuantity" placeholder="申报数量">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">申报价值</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="goodsDeclareWorth" id="goodsDeclareWorth" placeholder="（单位美元 USD)">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6" id="ck1_weight">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">重量</label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="goodsWeight" id="goodsWeight" placeholder="重量(出口易要填)">
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row" id="ck1_packing">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">尺寸(出口易要填)</label>
                                            <div class="col-md-10">
                                                <div class="input-group input-large input-daterange">
                                                    <span class="input-group-addon">
                                                        长
                                                    </span>
                                                    <input class="form-control " placeholder="长" name="length" id="length">
                                                    <span class="input-group-addon">
                                                        宽
                                                    </span>
                                                    <input class="form-control " placeholder="宽" name="width" id="width">
                                                    <span class="input-group-addon">
                                                        高
                                                    </span>
                                                    <input class="form-control" placeholder="高" name="height" id="height">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">订单产品中文描述</label>
                                            <div class="col-md-10">
                                                <textarea class="form-control" id="detailDescriptionCN" name="detailDescriptionCN" rows="3" placeholder="订单产品中文描述" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="form-section">详细物品</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            图片
                                                        </th>
                                                        <th>
                                                            SKU
                                                        </th>
                                                        <th>
                                                            数量
                                                        </th>
                                                        <th>
                                                           尺寸
                                                        </th>
                                                        <th>
                                                            重量
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{

                                                        foreach (var item in Model.PayPalTransactionPaymentItems)
                                                        {
                                                            if (item.Association != null)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <a href="@item.Association.Product.CoverPicture">
                                                                            <img src="@item.Association.Product.CoverPicture" width="100" />
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        @item.Association.Product.Sku
                                                                    </td>
                                                                    <td>
                                                                        <span class="label label-sm label-success">
                                                                            @item.PaymentItemQuantity
                                                                        </span>
                                                                    </td>
                                                                    <td>@item.Association.Product.PackingSize.Length*@item.Association.Product.PackingSize.Width*@item.Association.Product.PackingSize.Height</td>
                                                                    <td>@item.Association.Product.PackWeight</td>
                                                                </tr>
                                                            }

                                                        }

                                                    }
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab4">                      
                        <div class="form-body">
                            <h3 class="form-section">地址信息</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">收货人:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.Receiver
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">街道:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                               @Model.PayerAddressStreet1
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">街道2:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.PayerAddressStreet2
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">城市:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.PayerCityName
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">州/省:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.PayerStateOrProvince
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">邮编:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.PayerPostalCode
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">国家名称:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.PayerCountryName
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">电邮:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">
                                                @Model.Receiver
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <h3 class="form-section">快递信息</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th width="20%">
                                                            物流代理
                                                        </th>
                                                        <th width="20%">
                                                            发货类型
                                                        </th>
                                                        <th width="20%">
                                                            选择仓库
                                                        </th>
                                                        <th width="40%">
                                                            快递方式
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span class="form-control-static" >
                                                                <span class="red" id="showagent"></span>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="form-control-static" >
                                                                <span class="red" id="showtype"></span>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="form-control-static" >
                                                                <span class="red" id="showwarehouse"></span>
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span class="form-control-static" >
                                                                <span class="red" id="showexpress"></span>
                                                            </span>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>

                            <h3 class="form-section">物品信息</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            图片
                                                        </th>
                                                        <th>
                                                            SKU
                                                        </th>
                                                        <th>
                                                            数量
                                                        </th>
                                                        <th>
                                                            尺寸
                                                        </th>
                                                        <th>
                                                            重量
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{

                                                        foreach (var item in Model.PayPalTransactionPaymentItems)
                                                        {
                                                            if (item.Association != null)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <a href="@item.Association.Product.CoverPicture">
                                                                            <img src="@item.Association.Product.CoverPicture" width="100" />
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        @item.Association.Product.Sku
                                                                    </td>
                                                                    <td>
                                                                        <span class="label label-sm label-success">
                                                                            @item.PaymentItemQuantity
                                                                        </span>
                                                                    </td>
                                                                    <td>@item.Association.Product.PackingSize.Length*@item.Association.Product.PackingSize.Width*@item.Association.Product.PackingSize.Height</td>
                                                                    <td>@item.Association.Product.PackWeight</td>
                                                                </tr>
                                                            }

                                                        }

                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-md-offset-3 col-md-9">
                    <a href="javascript:;" class="btn default button-previous">
                        <i class="m-icon-swapleft"></i> 返回
                    </a>
                    <a href="javascript:;" class="btn blue button-next">
                        继续 <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                    <a href="javascript:;" class="btn green button-submit" data-dismiss="modal">
                        提交 <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
                @*<button type="submit" id="submitbutton" class="btn blue btn-sm default"><i class="fa fa-check"></i> 提交</button>
                <button type="button" class="btn btn-sm default" id="cancel" data-dismiss="modal">撤销</button>*@
            </div>
        </div>
    </form>
</div>

    <script>
        jQuery(document).ready(function () {
            Transaction.dispatch(@Model.ID);
        });
        $(function () {

            $('.form-section').css({
                "margin": "30px 0px 25px 0px",
                "padding-bottom": "5px",
                "border-bottom": "1px solid #eee"
            })
        })
    </script>
